#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 60%;
    margin: 0 auto;
}

#explanation {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.pile-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.pile {
    margin: 0 20px;
    font-size: 20px;
}

.move-buttons {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.remove-btn {
    background-color: #f44336; /* Красный */
    color: white;
    margin-right: 20px;
}

.move-btn {
    background-color: #4CAF50; /* Зеленый */
    color: white;
}

.action-btn {
    background-color: #2196F3; /* Синий */
    color: white;
    margin-top: 10px;
}

#winMessage {
    margin-top: 20px;
    font-size: 24px;
    color: green;
}
